
<h1>{{title}}</h1>


 <app-hello></app-hello>

<app-toggle-box title="Mon titre" toggle="">
    <p>Ici mon nouveau contenu</p>
</app-toggle-box>

<app-toggle-box title="Titre2" toggle="">
    <img src="https://1.bp.blogspot.com/-9FgsxLLVhlI/UjDb0WIswlI/AAAAAAAAAUM/DW2DQPl0VV0/s1600/Garfield_3.jpg" alt="" srcset="" width="200">
</app-toggle-box>

<app-toggle-box title="Titre3" toggle="false">
    <h4>
        <p>Encore un autre contenu</p>
    </h4>
</app-toggle-box>



<!-- <div app-hello=""></div> On peut utiliser le selector comme attribut-->

<!-- <div class="app-hello"></div> On peut utiliser le selector comme classe -->  