:host {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

input [type="range"] {
    margin: 8px;
}

.input-size {
    width: 3em;
}